<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link {% if currentPage == "home" %}active{% endif %}" aria-current="page" href="/">Home</a>
    </li>
    {% if loggedIn %}
        <li class="nav-item">
          <a class="nav-link {% if currentPage == "profile" %}active{% endif %}" aria-current="page" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentPage == "plants" %}active{% endif %}" aria-current="page" href="/plants">Plants</a>
        </li>
    {% endif %}
</ul>
{% if not loggedIn %}
    <div class="btn-group d-flex" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-outline-primary" href="/login">Log In</a>
    </div>
    <div class="btn-group d-flex" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-outline-success" href="/signup">Sign Up</a>
    </div>
{% else  %}
    <div class="btn-group d-flex" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-outline-danger" href="/logout">Log Out</a>
    </div>
{% endif %}