{% extends "layouts/layout.html" %}
{% block title %}Smart Plants{% endblock %}

{% block navbarContents %}

{% endblock %}

{% block content %}

<!-- Header Start here -->
<div class="header d-flex justify-content-around">
<h1 class="text-start"><i class="bi bi-gear-fill"></i></h1>
<h1 class="text-center align-bottom">Smart Plants</h1>
<h1 class="text-end"><i class="bi bi-person-circle"></i></h1>
</div>
<!-- Header End here -->

<div id="welcome">
    <p>Hi [username]</p>
    <p><i>your plants are [plant-percent-status]</i></p>
</div>

<div id="user-plants" class="flex-2-em-wd"> 
    <div class="plant"></div>
</div>

<!-- Footer Start here -->
<div class="footer d-flex justify-content-around">
<button class="nav-button"><h2 class="text-center"><i class="bi bi-people-fill"></i><p>Friends</p></h2></button>
<button class="nav-button"><h2 class="text-center"><i class="bi bi-inbox-fill"></i><p>Notifications</p></h2></button>
<button class="nav-button"><h2 class="text-center"><i class="bi bi-house-fill"></i><p>Home</p></h2></button>
<button class="nav-button"><h2 class="text-center"><i class="bi bi-person-fill"></i><p>Profile</p></h2></button>
</div>
<!-- Footer End here -->


<br><br>
<!-- End here -->
{% endblock %}