{% extends "layouts/layout.html" %}
{% block title %}Smart Plants{% endblock %}

{% block navbarContents %}

{% endblock %}

{% block content %}
    <style>
    form {
        margin: auto;
        max-width: 475px;
    }
    </style>
<br>
<h1 class="text-center">New Plant!</h1>
<hr>

<!-- Personality Type -->
<form id="personality">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="polite" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would thank the bus driver
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="feirce" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would defend me in battle
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="sweet" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would have a sweet tooth
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="vain" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would care greatly about it’s appearance
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="cosy" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would sleep with a weighted blanket
        </label>
      </div>
</form>

<h4 class="text-center">Congratulations</h4>
<div class="d-flex justify-content-center">
<div id="type-mesg" class="text-center"> <p> Your plant has a <b>Fresh</b> personality </p></div>
</div>

<!-- Plant Add Form -->
<br>
    <form>
        <h4 class="text-center">Give it a name</h4>
        <div class="form-floating mb-1">
            <input type="text" id="name" class="form-control" placeholder="name">
            <label for="name">Name</label>
        </div>

        <br>
        <div class="form-floating mb-1">
            <input type="text" id="type" class="form-control" placeholder="type" value="Fresh" disabled>
            <label for="type">Type</label>
        </div>
        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="notes" id="notes" style="height: 100px;"></textarea>
            <label for="notes">Notes</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success" style="width: 100% !important">Make Plant</button>
        </div>
    </form>
<br><br>
    <script>
// new plant form
console.log("working")

window.addEventListener('load', function() {
    const checkboxes = document.getElementsByClassName('form-check-input');

    for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function() { 
            let spicy = 0;
            let sweet = 0;
            let soft = 0;
            let aggressive = 0;
            let fresh = 0;

            if (checkboxes[0].checked){
              spicy += -1;
              sweet += 2;
              soft += 0;
              aggressive += 0;
              fresh += 0;
              console.log(spicy, sweet, soft, aggressive, fresh);
            }
            if (checkboxes[1].checked) {
              spicy += 2;
              sweet += 1;
              soft -= 1;
              aggressive += 2;
              fresh += 0;
              console.log(spicy, sweet, soft, aggressive, fresh);
            }
            if (checkboxes[2].checked) {
              spicy += 0;
              sweet += 2;
              soft += 1;
              aggressive += 2;
              fresh += 0;
            }
            if (checkboxes[3].checked) {
              spicy += 1;
              sweet += 0;
              soft += 1;
              aggressive += 0;
              fresh += 3;
            }
            if (checkboxes[4].checked) {
              spicy += 0;
              sweet += 1;
              soft += 2;
              aggressive -= 1;
              fresh += 3;
            }

            // Determine personality type
            let type = '';
            if (spicy > sweet) {
              type += 'Spicy ';
            } else {
              type += 'Sweet ';
            }

            if (soft > aggressive) {
              type += 'Soft ';
            } else {
              type += 'Aggressive ';
            }

            if (fresh >= 5){
              type += 'Fresh ';
            }

            // Update HTML
            document.getElementById("type-mesg").innerHTML = 'Your plant has a <b>'+ type +'</b> personality';
        });

        //edit HTML
        let type = ''
        if (spicy > sweet) {
          type += 'Spicy '
        } else {
          type += 'Sweet '
        }

        if (soft > agressive) {
          type += 'Soft '
        } else {
          type += 'Agressive '
        }

        if (fresh >= 5){
          type += 'Fresh '
        }
        document.getElementById("type-mesg").innerHTML = 'Your plant has a <b>'+ type +'</b> personality';
        document.getElementById("type").value = type
    }
});


    </script>
{% endblock %}