{% extends "layouts/layout.html" %}
{% block title %}Smart Plants{% endblock %}

{% block navbarContents %}

{% endblock %}

{% block content %}
    <style>
    form {
        margin: auto;
        max-width: 475px;
    }
    </style>
<br>
<h1 class="text-center">New Plant!</h1>
<hr>

<!-- Personality Type -->
<form id="personality">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="polite" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would thank the bus driver
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="feirce" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would defend me in battle
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="sweet" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would have a sweet tooth
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="vain" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would care greatly about it’s appearance
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="cosy" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          My plant would sleep with a weighted blanket
        </label>
      </div>
</form>

<h4 class="text-center">Congratulations</h4>
<div class="d-flex justify-content-center">
<div id="type-mesg" class="text-center" <p> Your [plant-classification] has a <b>[type]</b> personality </p></div>
</div>

<!-- Plant Add Form -->
<br>
    <form>
        <h4 class="text-center">Give it a name</h4>
        <div class="form-floating mb-1">
            <input type="text" id="name" class="form-control" placeholder="name">
            <label for="name">Name</label>
        </div>

        <br>
        <div class="form-floating mb-1">
            <input type="text" id="type" class="form-control" placeholder="type" disabled>
            <label for="type">[type]</label>
        </div>
        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="notes" id="notes" style="height: 100px;"></textarea>
            <label for="notes">Notes</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success" style="width: 100% !important">Make Plant</button>
        </div>
    </form>
<br><br>
    <script src="/static/js/new_plant_form"></script>
{% endblock %}